<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat App</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <style type="text/tailwindcss">
      @theme {
        --color-clifford: #da373d;
      }
    </style>
  </head>
  <body>
    <div class="container px-3">
      <h1 class="text-4xl my-3">Edit Chat</h1>

      <div class="msg bg-red-200 w-3xs p-3 my-5">
        <h3>From : <%=chat.from%></h3>
        <h3>to : <%=chat.to%></h3>
        <form method="post" action="/chat/<%= chat._id %>/?_method=PATCH">
          <label for="">Message</label>
          <textarea class="bg-blue-200 rounded-xl p-2" name="msg">
<%=chat.msg%></textarea
          >
          <button class="px-3 py-1 bg-red-400 m-2 rounded-lg text-white">
            Edit
          </button>
        </form>
        <form method="post" action="/chat/<%=chat._id%>/delete?_method=DELETE">
          <button class="px-3 py-1 bg-red-400 m-2 rounded-lg text-white">
            Delete
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
